<div id="container">
  <div class="banner eventos">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="m-0"><strong><%= @institution.name.upcase%></strong></h1>
        </div>
      </div>
      <%= image_tag "wave1.png" %>
  </div>
</div>

<div class="container">
  <%= link_to 'Atrás', institutions_path, class: "btn btn-ghost m-3" %>
  <%= link_to 'Editar', edit_institution_path(@institution) , class: "btn btn-ghost m-3" %>
  <%= link_to 'Eliminar', institution_path(@institution), class: "btn btn-ghost m-3" ,method: :delete, data: { confirm: "¿Estás seguro?" } %>
  <div class = "div-line"></div>
  <div class = "card-info-institution mb-5 mt-5">
    <div class="half">
      <p><strong>Dirección: </strong><%= @institution.address %></p>
      <p><strong>Telefono: </strong><%= @institution.phone %></p>
      <p><strong>Correo Institucional: </strong><%= @institution.email %></p>
      <p><strong>Página principal: </strong><%= @institution.url %></p>
      <p class = "card-info-description" ><strong>Descripción de la Institución: </strong><%= @institution.description%></p>
    </div>
    <div class="half">
    <%= cl_image_tag @institution.photo.key, crop: :fill %>
    </div>
  </div>
</div>
