<div id="container">
  <div class="banner eventos">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="m-0"><strong><%= @institution.name.upcase%></strong></h1>
        </div>
      </div>
      <%= image_tag "wave1.png" %>
  </div>
</div>

<div class="container">
  <%= link_to 'Atrás', institutions_path, class: "btn btn-ghost m-3" %>
  <% if user_signed_in? && current_user.admin == true %>
    <%= link_to 'Editar', edit_institution_path(@institution) , class: "btn btn-ghost m-3" %>
    <%= link_to 'Eliminar', institution_path(@institution), class: "btn btn-ghost m-3" ,method: :delete, data: { confirm: "¿Estás seguro?" } %>
  <% end %>
  <div class = "div-line"></div>
  <div class = "card-info-institution mb-5 mt-5">
    <div class="half">
      <p><strong>Dirección: </strong><%= @institution.address %></p>
      <p><strong>Telefono: </strong><%= @institution.phone %></p>
      <p><strong>Correo Institucional: </strong><%= @institution.email %></p>
      <p><strong>Página principal: </strong><%= @institution.url %></p>
      <p class = "card-info-description" ><strong>Descripción de la Institución: </strong><%= @institution.description%></p>
    </div>
    <div class="half">
    <% if @institution.photo.key.nil? %>
      <%= image_tag "https://cdn-icons-png.flaticon.com/512/43/43132.png", class: "avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
      <%= cl_image_tag @institution.photo.key, crop: :fill %>
    <% end %>
    </div>
  </div>
</div>

<div>
    <ul>
    <% @institution.careers.each do |career| %>
      <li><%=link_to career.name, career_path(career) %></li>
    <% end %>
    </ul>
  </div>
