<div id="container">
  <div class="banner eventos">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="m-0">Mis Eventos Reservados</h1>
        </div>
      </div>
      <%= image_tag "wave1.png" %>
  </div>
</div>

<div class= "container">
    <% @bookings.each do |booking| %>
        <div>
          <h2><strong><%=link_to booking.event.name, booking %></strong></h2>
                  <%= cl_image_tag booking.event.photo.key, height: 200, width: 200, crop: :fill %>
                  <p>Fecha: <%=  booking.event.date %></p>
                  <p>Modalidad: <%= booking.event.modality %></p>
        </div>
    <% end %>
</div>
