<div id="container">
  <div class="banner eventos">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="m-0">Mis Eventos Reservados</h1>
        </div>
      </div>
      <%= image_tag "wave1.png" %>
  </div>
</div>

<div class= "container">
  <%= link_to 'Atrás', "/", class: "btn btn-ghost m-3" %>
  <div class=" flex-wrap d-flex justify-content-between">
    <% @bookings.each do |booking| %>
      <div class="card-vertical d-flex" style="background-image:linear-gradient(rgba(223,218,248,0.05), rgba(0,0,0,0.6)), url(<%= cl_image_path(booking.event.photo.key) %>)">
        <h2 style="text-align:center"><strong><%= link_to booking.event.name.upcase, booking %></strong></h2>
        <p style="color:white"><i class="fas fa-calendar-day"></i> <%= booking.event.date.strftime('%a, %b %d') %> <strong> - </strong> <%= booking.event.date.strftime("%I:%M %p") %></p>
      </div>
    <% end %>
  </div>
</div>
