<div class="header">
  <h1>Mis Eventos Reservados</h1>
  <a href="https://quecarrerape.herokuapp.com/">HOME</a>
  <span> / </span> Mis Eventos Reservados
</div>
<div class= "container-booking">
  <h1><strong>Detalles de mi reserva: </strong></h1>
    <div class="card-booking mb-3">
      <h2><strong><%= @booking.event.name %></strong></h2>
      <p>Reservado el: <%= @booking.created_at %></p>
      <div>
            <h3><strong>Información del contacto</strong></h3>
            <p>Nombre: <%=  @booking.user.first_name %></p>
            <p>Apellido: <%= @booking.user.last_name %></p>
            <p>Correo electrónico: <%= @booking.user.email %></p>
      </div>
    </div>

    <div>
      <%= link_to 'Cancelar reserva', @booking, class: "btn btn-ghost mt-3 ml-3" ,method: :delete, data: { confirm: "¿Estás seguro?" } %>
    </div>

    <%= link_to 'Regresar a mis reservas actuales', booking_requests_path, class: "btn btn-ghost mt-3 ml-3"  %>
</div>
