<div id="container">
  <div class="banner eventos">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="m-0"><%= @booking.event.name %></strong></h1>
      </div>
    </div>
    <%= image_tag "wave1.png" %>
  </div>
</div>

<div class= "container">
  <%= link_to 'Atrás', booking_requests_path, class: "btn btn-ghost mt-3 ml-3" %>
  <%= link_to 'Cancelar reserva', @booking, class: "btn btn-ghost mt-3 ml-3" ,method: :delete, data: { confirm: "¿Estás seguro?" } %>
  <br>
  <div class = "div-line" style="margin: 35px auto 0 auto"></div>
    <div class = "card-info-booking mb-5 mt-5" style="padding-bottom:90px">
      <div class="half" style="padding-left:30px">
        <h3><strong>Detalles de mi reserva</strong></h3> <br>
        <p><strong>Nombre del evento: </strong><%= @booking.event.name %></p>
        <p><strong>Reservado el: </strong><%= @booking.created_at %></p>  <br>
        <br>
        <h3><strong>Información del contacto</strong></h3>  <br>
        <p><strong>Nombre: </strong><%= @booking.user.first_name %></p>
        <p><strong>Apellido: </strong><%= @booking.user.last_name %></p>
        <p><strong>Correo electrónico: </strong><%= @booking.user.email %></p>
      </div>

      <div class="half">
        <%= cl_image_tag @booking.event.photo.key, crop: :fill %>
      </div>
    </div>
  </div>
</div>
