<div id="container">
  <div class="banner eventos">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="m-0"><strong>Relación Carrera - Institución</strong></h1>
        </div>
      </div>
      <%= image_tag "wave1.png" %>
  </div>
</div>

<div class="container">
  <div class="card-product">

    <div class="card-product-infos mt-3 mb-3">
      <h2>Carrera: <strong><%= @career_institution.career.name %></strong></h2>
      <h2>Institución: <strong><%= @career_institution.institution.name %></strong></h2>
    </div>
  </div>

  <%= link_to 'Editar', edit_career_institution_path(@career_institution) , class: "btn btn-ghost mt-3 ml-3"  %>
  <%= link_to 'Eliminar', career_institution_path(@career_institution), class: "btn btn-ghost mt-3 ml-3" ,method: :delete, data: { confirm: "¿Estás seguro?" } %>
  <%= link_to 'Regresar', careers_path, class: "btn btn-ghost mt-3 ml-3"  %>

</div>
