<div id="container">
  <div class="banner eventos">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="m-0">Carreras</h1>
        </div>
      </div>
      <%= image_tag "wave1.png" %>
  </div>
</div>

<div class="cards">
  <ul>
    <% @careers.each do |career| %>
      <div class="card-index">
        <%= cl_image_tag career.photo.key, height: 200, width: 200, crop: :fill %>
          <div class="card-product-infos mt-3 mb-3">
            <h2><%= link_to career.name, career_path(career) %></h2>
            <h2><%= career.area %></h2>
          </div>
      </div>
    <% end %>
  </ul>
</div>


<%= link_to 'Agregar una nueva carrera', new_career_path , class: "btn btn-ghost mt-3 ml-3"  %>
