<div id="container">
  <div class="banner eventos">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="m-0"><strong><%= @career.name %></strong></h1>
        </div>
      </div>
      <%= image_tag "wave1.png" %>
  </div>
</div>

<div class= "container">
  <%= link_to 'Atrás', careers_path, class: "btn btn-ghost m-3"  %>
  <%= link_to 'Editar', edit_career_path(@career) , class: "btn btn-ghost m-3"  %>
  <%= link_to 'Eliminar', career_path(@career), class: "btn btn-ghost m-3" ,method: :delete, data: { confirm: "¿Estás seguro?" } %>
  <%= link_to 'Enlazar carrera-institución', new_career_career_institution_path(@career) , class: "btn btn-ghost m-3"  %>

  <div class="card-product">
    <%= cl_image_tag @career.photo.key, width: 400, crop: :fill %>
    <div class="card-product-infos mt-3 mb-3">

      <p><strong>Área: </strong><%= @career.area %></p>
      <p><strong>Duración: </strong><%= @career.duration %></p>
      <p><strong>Perfil del estudiante: </strong><%= @career.profile %></p>
      <p><strong>Descripción de la carrera: </strong><%= @career.description %></p>
    </div>
  </div>

  <div>
    <ul>
    <% @career.institutions.each do |institution| %>
      <li><%=link_to institution.name, institution_path(institution) %></li>
    <% end %>
    </ul>
  </div>

  <div class="card-review">
    <h2><%= pluralize @career.reviews.size, "Review" %></h2>
    <div id="reviews">
      <% if @career.reviews.blank? %>
        Se el primero/a en dejar tu comentario para la carrera de <%= @career.name %>
      <% else %>
        <% @career.reviews.each do |review| %>
          <p class="list-group-item" id="review-<%= review.id %>">Rating: <%= "⭐" * review.rating %></li>
          <p class="list-group-item" id="review-<%= review.id %>"><%= review.content %></li>
          <p><%= link_to "Eliminar Review", career_delete_review_path(career_id: @career.id, id: review.id), method: :delete, remote: true, class: "text-danger"%></p>
        <% end %>
      <% end %>
    </div>

    <div class="card-add-review">
      <h2 class="mb-3">Añadir un nuevo review</h2>

      <%= simple_form_for([ @career, @review ], remote: true) do |f| %>
        <%= f.input :rating, collection: 1..5 %>
        <%= f.input :content, as: :text %>
        <%= f.submit "Añadir review", class: "btn btn-ghost m-3" %>
      <% end %>
    </div>

  </div>





</div>
