<div class= "container">
  <div><h1>Eventos</h1></div>
    <div class="cards">
    <% @events.each do |event| %>
      <div class="card-event">
        <%= cl_image_tag event.photo.key, height: 200, width: 200, crop: :fill %>
        <div class="card-event-infos">
          <h2><strong><%=link_to event.name, event_path(event) %></strong></h2>
          <p><strong>Ponente: </strong><%=  event.user.first_name %> <%= event.user.last_name %></p>
        </div>
        <p class="card-event-infos"><%=  event.date %></p>
      </div>
    <% end %>
    </div>
</div>
